html, body {
  margin: 0;
  font-family: monospace;
}

.float{
	position:fixed;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.timeline {
  margin-bottom: 4em;
}

.timeline-item {
  box-sizing: border-box;
  padding: .75em;
  position: relative;
}

.timeline-item + .timeline-item {
  margin-top: 0em;
}

.timeline-item img {
  max-width: 100%;
  height: auto;
}

.year {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: .25em;
}

.timeline > .timeline-item:nth-child(odd) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(odd) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(odd) {
    width: 50%;
    border: none;
  }
  .timeline > .timeline-item:nth-child(odd):after {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    right: -1px;
    top: .75em;
  }
  .timeline > .timeline-item:nth-child(odd) .year {
    text-align: right;
    display: block;
  }
  .timeline > .timeline-item:nth-child(odd) .year:after {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    right: 0;
    top: .75em;
  }
}

.timeline > .timeline-item:nth-child(even) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(even) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(even) {
    width: 50%;
    border: none;
    margin-left: 50%;
  }
  .timeline > .timeline-item:nth-child(even):before {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    left: -1px;
  }
  .timeline > .timeline-item:nth-child(even) .year:before {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    left: 0;
    top: .75em;
  }
}

.bottom-bar-outer {
  background: #ddd;
  height: 3em;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 1em 1em 0;
}

#myBtn {
  background-color: #fff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:context-menu;

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 0px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
