html, body {
  margin: 0;
  font-family: monospace;
}

.float{
	position:fixed;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.timeline {
  margin-bottom: 4em;
}

.timeline-item {
  box-sizing: border-box;
  padding: .75em;
  position: relative;
}

.timeline-item + .timeline-item {
  margin-top: 0em;
}

.timeline-item img {
  max-width: 100%;
  height: auto;
}

.year {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: .25em;
}

.timeline > .timeline-item:nth-child(odd) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(odd) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(odd) {
    width: 50%;
    border: none;
  }
  .timeline > .timeline-item:nth-child(odd):after {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    right: -1px;
    top: .75em;
  }
  .timeline > .timeline-item:nth-child(odd) .year {
    text-align: right;
    display: block;
  }
  .timeline > .timeline-item:nth-child(odd) .year:after {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    right: 0;
    top: .75em;
  }
}

.timeline > .timeline-item:nth-child(even) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(even) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(even) {
    width: 50%;
    border: none;
    margin-left: 50%;
  }
  .timeline > .timeline-item:nth-child(even):before {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    left: -1px;
  }
  .timeline > .timeline-item:nth-child(even) .year:before {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    left: 0;
    top: .75em;
  }
}

.bottom-bar-outer {
  background: #ddd;
  height: 3em;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 1em 1em 0;
}

/* Popup container */
.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on ) */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #F5EFE0;
  color: #000;
  text-align: left;
	img-align:center;
  /*border-radius: 6px;*/
	
  border-padding: 100px 100px, 100px, 100px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -80px;

  border-color: #ff0000 transparent transparent transparent;
}

/* Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: inset;
  border-color: #ff0000 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
