body .description {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  margin: 0;
  font-size:16px;
  /*font-family: monospace;*/
}

.float{
	position:fixed;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.timeline {
  margin-bottom: 4em;
}

.timeline-item {
  box-sizing: border-box;
  padding: .75em;
  position: relative;
}

.timeline-item + .timeline-item {
  margin-top: 0em;
}

.timeline-item img {
  max-width: 100%;
  height: auto;
}

.year {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: .25em;
}

.timeline > .timeline-item:nth-child(odd) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(odd) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(odd) {
    width: 50%;
    border: none;
  }
  .timeline > .timeline-item:nth-child(odd):after {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    right: -1px;
    top: .75em;
  }
  .timeline > .timeline-item:nth-child(odd) .year {
    text-align: right;
    display: block;
  }
  .timeline > .timeline-item:nth-child(odd) .year:after {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    right: 0;
    top: .75em;
  }
}

.timeline > .timeline-item:nth-child(even) {
  width: 100%;
}
.timeline > .timeline-item:nth-child(even) .year {
  text-align: left;
  display: block;
}
@media (min-width: 500px) {
  .timeline > .timeline-item:nth-child(even) {
    width: 50%;
    border: none;
    margin-left: 50%;
  }
  .timeline > .timeline-item:nth-child(even):before {
    content: "";
    border-left: 2px solid #ccc;
    height: 100%;
    position: absolute;
    left: -1px;
  }
  .timeline > .timeline-item:nth-child(even) .year:before {
    content: "";
    border-right: 2px solid #ccc;
    position: absolute;
    transform: rotate(90deg);
    display: block;
    height: .25em;
    width: .25em;
    left: 0;
    top: .75em;
  }
}

.bottom-bar-outer {
  background: #ddd;
  height: 3em;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  padding: 1em 1em 0;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8888; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
@media (min-width: 1366px) {
  .modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
	}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.button {
 	background:none;
  border-top:none;
  border-right:none;
  border-left:none;
  border-bottom:#02274a 1px solid;
  padding:0 0 3px 0;
  font-size:16px;
}

button.button:hover {
  border-bottom:#a99567 1px solid;
  color:#a99567;
}
